{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% if messages %}
    {% block messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible shadow fade show m-2" role="alert">
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endblock %}
{% endif %}

{% block content %}
    <form id="cnpj_form" method="get">
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    {% if cnpj_data %}
        {% include 'includes/empresa_content.html' %}
    {% endif %}
{% endblock %}